/* Landing page css */


/* nav links  */

.pointer{
    cursor: pointer !important;
}
.nav-link:hover{
    color: #ec6d80 !important;
}
.nav-sticky .call-no a:hover{
    color: #3b1e22 !important;
}

.nav-item .nav-link {
	display: inline-block;
	color: #d1d1d1 !important;
	text-decoration: none
}

.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-link:hover{
    color:#cab2b6 !important;
}
.nav-sticky.navbar-custom .navbar-nav li a:active{
    color:#ec6d80 !important;
}

.nav-sticky.navbar-custom .navbar-nav li .activeItem{
    color:#ec6d80 !important;
}
/* form */

.selectBox{
    overflow: auto;
    
    position: relative;
}
.myDropDown
{
    
    max-height:100px !important;
   background-color: aliceblue !important;
}


/*registration-form*/

.registration-form input,
 .registration-form select ,
  .registration-form textarea{
        border-radius: 5px !important;
        background-color: rgb(255, 255, 255) !important;
}
.landing-form input,
 .landing-form select ,
  .landing-form textarea{
        border-radius: 5px !important;
        background-color: rgb(245, 245, 245) !important;
}
.student-signup-form input[type='tel'  ]{
  background-color: #F8F9FD !important;
}
.student-login-form input[type='password'  ],
.student-login-form input[type='email'  ],
.student-signup-form input[type='text'  ],
.student-signup-form input[type='password'  ],
.student-signup-form input[type='email'  ],
 .student-signup-form select ,
 .PhoneInput,
  .student-signup-form textarea{
        border-radius: 5px !important;
      border: 1px solid rgb(19, 19, 19) ;
}
.student-signup-form select{
  width: 100% !important;
  background-color: rgb(245, 245, 245) !important;
  padding:12px 24px !important;
}
.PhoneInputInput{
  padding: 10px 20px !important;
}
.PhoneInputCountry{
  padding-left: 7px !important;
}
.PhoneInputInput{
   padding:12px 24px !important;
   width:100% !important;
}
/* Thank you text ... */
.landing-thnaks-box {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  
/************* End of thanks title animation ************/

/* landing form animation */

.landing-form {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  
/********* End of landing form animation **********/



/* contact form animation */

.registration-form {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-10 20:16:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  
/* email send background */
.sentEmail {
    background-image: url('./../images/background/sentEmail.png');
    background-position: left top;
    background-repeat: no-repeat;
    height: 40vh !important;
    background-size:20% !important;
 
    /* animation */
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

/**********************/
/* Error attention  animation */
.error-attention {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
/*****************************/

/* Media Query*/
@media (max-width: 615px ) {

    .sentEmail {

        background-size:50% !important;
        height: 25vh !important;
      }
}
