body {
  font-size: 16px !important;
  font-weight: 200 !important;

  color: #4a4a4a !important;
}

.login-nav-section {
  height: 10vh;
} /* LOGIN PAGE */

.title {
  font-size: 34px;
  font-weight: 800;

  color: #1d1d1d;
  word-spacing: -3px;
}
.pricing-sub-title {
  font-family: Inter !important;
  color: #1d1d1d;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: left !important;
  margin-bottom: 15px !important;
  margin-left: 10px !important;
  text-transform: unset !important;
}
.navbar {
  text-transform: capitalize !important;
  font-size: 16px !important;
}

@media (min-width: 992px) {
  .hide-on-big-screen {
    display: none !important;
    background-color: red !important;
  }
}
.partnerImage {
  width: 50% !important;
}

.partnerImage img {
  max-width: 100% !important;
}

@media (max-width: 1200px) {
  .titleBanner {
    transform: translate(15%, 110%) !important;
  }
}

@media (max-width: 992px) {
  .hide-on-small-screen {
    display: none !important;
  }
  .text-center-small-screen {
    margin: 0 auto !important;
    text-align: center !important;
  }

  .service-classes {
    position: static !important;
  }
  .titleBanner {
    transform: translate(15%, 150%);
  }
  .service-banner-container {
    height: 50vh !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .service-banner-box {
    top: 50% !important;
  }

  .display-center-small-screen {
    width: 300px;
    overflow: auto;
    white-space: nowrap;
  }

  .header-bg-small-screen {
    background-color: red !important;
  }

  .curriculum-scroll {
    display: flex;
    overflow-x: auto;
  }

  .home-banner {
    font-size: .5rem !important;
  }

  .banner-text {
    font-size: 2rem !important;
    display: inline-block !important;
  }
  .banner-container {
    background-size: contain !important;
  }

  .service-banner-text {
    font-size: 2rem !important;
    display: inline-block !important;
  }

  .select-box {
    width: 100vw !important;
    margin: 0 !important;
    z-index: 3000 !important;
  }
  .css-26l3qy-menu {
    z-index: 4000 !important;
  }
  .select-box-content {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 200 !important;
  }

  .select-box-content button {
    padding: 0 !important;
    width: 100px !important;
  }

  .big.green {
    border: 1px dashed #308800;
    margin: 10px !important;
  }

  .big.red {
    border: 1px dashed #fe4a55;
    margin: 10px !important;
  }

  .small {
    background: url(assets/images/jobs/funfacts-shape.png) no-repeat;
    padding: 70px;
    text-align: center;
  }

  .small.pink {
    border: 1px dashed #ad8360;
    margin: 10px !important;
  }

  .small.blue {
    border: 1px dashed #221638;
    margin: 10px !important;
  }

  .white-box .inner-text {
    padding: 5px !important;
  }

  .web-market {
    background-repeat: no-repeat;
    background-size: 100% 330vh !important;
    padding: 80px 0 40px 0 !important;
  }

  .service-form {
    height: 60% !important;
    margin-top: 520px !important;
  }

  .service-form-content {
    position: static !important;
  }

  .banner-quote {
    position: absolute !important;
    font-size: 22px !important;
    width: 100% !important;
    text-align: center !important;
  }

  .typewriter {
    position: absolute !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    width: 100% !important;
    text-align: center !important;
  }

  .hero-banner {
    top: 15;
    font-weight: 500 !important;
    font-size: 1.8em !important;
    letter-spacing: 3px !important;
  }
}

#dropdown-button-drop-right {
  color: #4a4a4a !important;
}

.nav-link.dropdown-toggle:after {
  display: none;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: -80px;
  top: 20px;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}
.dropdown-item {
  margin: 0px !important;
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
.planicon {
  font-size: 230% !important;
}
.title2 {
  font-weight: 200;

  margin-top: 20px;
  color: #4a4a4a !important;
}
.sub-title {
  font-size: 20px;
  font-weight: 600;

  color: #4a4a4a;
}

.sub-title2 {
  font-size: 1rem;
  font-weight: 600;

  color: #2670cb;
  word-spacing: -3px;
}

.sub-title3 {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
  text-shadow: none !important;
}

.sub-text2 {
  font-size: 16px;
  font-weight: 500;

  line-height: 20px;
  white-space: pre-wrap;
}

.sub-text3 {
  font-size: 15px;
  font-weight: 400;

  line-height: 19px;
  white-space: pre-wrap;
  word-spacing: -2px;
}

.line-clamp {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sub-text {
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0;

  line-height: 25px;
  white-space: pre-wrap;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f2334c;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin: auto;
  max-width: 90%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* .course-content:hover {
  background-color: #ffbfbe;
} */

.course-content {
  position: relative;
}
.lock-layer {
  position: absolute;
  width: 100% !important;
  background-color: #eeeeee;
  height: 100% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px !important;
}
.CircularProgressbar {
  width: 40px !important;
  margin-top: 20px;
}
.lock-layer i {
  cursor: pointer;
}
.lock-layer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 80% !important;

  margin-bottom: 0px !important;
}
/*      animation styling */
div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  color: #3079ed;
  animation-name: fade-in-right;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*************************************/

.sub-text-bold {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}

.phone-text {
  color: #23bbbb;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

/* contact section */
.contact-text {
  color: #ffffff;
  transition: transform 1s;
}
.contact-text:hover {
  transform: scale(1.1);
}
.advisor-image {
  height: 150px;
  background: url(assets/images/background/advisor2-new.jpg) center;
  background-repeat: no-repeat;
  background-size: cover !important;
  max-width: 100% !important;
  background-position: left left;
}

.advisor-text1 {
  /* height: 150px; */
  overflow: auto !important;
  background: rgb(17, 25, 32);

  width: 100% !important;
  border-radius: 20px;
}

.advisor-text2 {
  height: 45px;
  background: rgb(36, 44, 55);
  background: linear-gradient(
    0deg,
    rgba(36, 44, 55, 0.1881127450980392) 0%,
    rgba(98, 101, 121, 0.7903536414565826) 100%
  );
  width: 100% !important ;
  border-radius: 30px 30px 0 0;
}

.inner {
  margin: 0 auto;
}

.inner a,
.inner button {
  float: left;
}

.button {
  position: relative;
  width: 190px;
  height: 40px;
  color: #69686885;
  border-radius: 20px;
  border: 2px solid #b2fba0;
  background: black;
  cursor: pointer;
  -webkit-box-shadow: 0px -1px 5px 2px rgba(151, 255, 153, 0.918);
  box-shadow: 0px 0px 5px 0px rgba(151, 255, 153, 0.918);
  position: relative;
}

.button:hover span {
  color: #2d9c6b;
}

.button span {
  font-size: 14px;
  text-transform: none;
  color: #68eb44;
  margin: 0 !important;
  padding: 0px !important;
}

.advisor-icon {
  color: #49ff18;
  /* text-shadow: 0 0 1px #222, 0 0 1px #222, 0 0 1px #222, 0 0 2px #49ff18,
    0 0 3px #49ff18, 0 0 4px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18; */
  position: absolute;
  top: -4px;
  left: -3px;
  font-size: 280% !important;

  font-weight: 300;
}

.fa-online-education {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #888;
  padding: 0.8em;
  font-size: 30px;
}

.block-seperator {
  width: 10%;
  height: 2px;
  background-color: #e84d1b;
  margin: 0 auto;
}
.price .txt {
  font-size: 90% !important;
  margin: 0px !important;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

/* responsive rodal */

.rodal,
.rodal-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed !important;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3000;
}
.carousel-indicators {
  top: 100% !important;
}
.carousel-control-next {
  left: 100% !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #131313 !important;
}

.carousel-control-prev {
  left: -12% !important;
}
.carousel-indicators li {
  z-index: 2000 !important;
  background-color: #ff8057 !important;
}

.rodal-dialog {
  z-index: 3001 !important;
  display: flex;
  margin: auto;
  height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 1.25em;
  border-radius: 0.3125em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative !important;
  width: 32em;
  max-width: 100%;
}

/* klarna button */

.klarna {
  display: block;
  width: 100%;
  background-color: black;
  padding: 15px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.klarna :focus {
  outline: none;
}

.klarna[disabled] {
  outline: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*  curiculum title icon*/
.curriculmTitle div a:before {
  content: "\00BB" !important;
  display: block !important;
  color: #f2334c !important;
  font-size: 18px !important;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*======================================
=            NO GUTTER CODE            =
======================================*/
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.svg {
  filter: invert(0.5) sepia(1) saturate(5);
}
.progress {
  height: 7px !important;
  border-radius: 50px !important;
}
.curriculum {
  width: 100% !important;
  margin: 0 auto !important;
  overflow: hidden;
}
.curriculmTitle {
  overflow-x: auto;
}

.curriculum a {
  display: block;
  width: 160px !important;
  font-weight: 600;
  color: #4a4a4a;
  text-align: center;
}

.curriculum a:hover {
  color: #ea5573;
}

.progress {
  background-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .curriculum-project ul li::before {
  content: "\2022";
  color: #ea5573;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */

/* JOBS SECTION */
.banner-container {
  display: inline-block;
  text-align: center;
  height: 40vh;
  background: url(assets/images/jobs/jobs-hero.png) no-repeat;
  background-size: cover;
  box-shadow: inset 3000px 0 0 0 rgba(0, 0, 0, 0.63);
}

.banner-text {
  font-size: 3.1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.web-market {
  background: url(assets/images/jobs/white-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 130vh;
  padding: 80px 0 200px 0;
}

.web-market .quote {
  font-size: 60px;
  color: #e8e8e8;
}

.big {
  background: url(assets/images/jobs/funfacts-shape.png) no-repeat;
  padding: 100px;
  text-align: center;
}

.big.green {
  border: 1px dashed #308800;
  margin: 50px 25px 0 0;
}

.web-market-text .number {
  font-size: 3rem;
  font-weight: bold;
  color: #fe4a55;
  overflow-wrap: break-word;
  text-align: center;
}

.big.red {
  border: 1px dashed #fe4a55;
  margin: 0 0 50px 0;
}

.small {
  background: url(assets/images/jobs/funfacts-shape.png) no-repeat;
  padding: 70px;
  text-align: center;
}

.small.pink {
  border: 1px dashed #ad8360;
  margin: 30px 25px 0 0;
}

.small.blue {
  border: 1px dashed #221638;
  margin: -20px 0 50px 0;
}

.web-market .white-box {
  background-color: white;
  line-height: 25px;
  position: relative;
}

.white-box .inner-text {
  padding: 0 80px 50px 30px;
}
.quarter-circle-top-left {
  width: 50px;
  height: 50px;
  top: 0;
  background: #fe4a55;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}
.address .job-icon {
  background-color: #f8f9f8;
  width: 100px;
  height: 100px;
  font-size: 35px;
  color: #fe4a55;
  transition: background-color 0.5s ease;
}

.job-icon .fas,
.job-icon .far {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.whoSection {
  /* background-image: url('./assets/images/image-4.png');
  background-size: 100%;
  background-repeat: no-repeat; */
  overflow: hidden !important;
}
.promoText {
  width: 50% !important;
}
.prompSection {
  color: yellow !important;
  position: sticky !important;
  top: 0px !important;
  z-index: 800 !important;
}
.address .job-icon:hover {
  background-color: #fe4a55;
  color: #fff;
}

.job-contact {
  background: url(assets/images/jobs/register-shape.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 5px;
}

.job-contact input,
.job-contact select,
.job-contact textarea,
.job-contact button {
  background: #c22b34;
  border-radius: 5px !important;
  color: #fff !important;
}

.job-contact textarea {
  border: none !important;
}

.job-contact button {
  border: none !important;
}

/* schedule/Reports section */

.isDisabled {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.reports-nav-button {
  background-color: #ececec;
  position: relative;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  height: 120px;
}

.reports-nav-button:hover {
  cursor: pointer;
  background-color: #ec971f;
  color: #fff;
}

.reports-nav-button .content {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 3vw;
}

.upcoming-row-content {
  background-color: #ececec;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  padding: 0 30px 30px 30px;
}

.upcoming-row-content:hover {
  cursor: pointer;
  background-color: #f5fbff;
}
#backdrop .spinner-center {
  width: 100%;
  position: relative;
  height: 100%;
}

#backdrop .spinner-border {
  display: block;
  position: fixed;
  top: calc(50% - (58px / 2));
  right: calc(50% - (58px / 2));
  color: #ec6f77;
}

#backdrop {
  position: absolute;
  margin: 0 0 0 -40px;
  top: 0;
  width: 570px;
  height: 650px;
  z-index: 999;
  background-color: #f0f5fb;
}

/* compiler */
.playground {
  width: 600px;
  background-color: #1e1e2c;
}

.code-editor {
  height: 33.33%;
  overflow: hidden;
  position: relative;
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}

.result {
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
}

.circular--landscape {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

/* Sidebar Styles */
.sidebar-nav {
  margin-bottom: 160px;
}
.sidebar-nav li {
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  border-bottom: 1px solid white;
  font-weight: 300;
}

.sidebar-nav li a:hover {
  color: #222;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

#show-sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

/* Service Section */
.service-banner-container {
  display: inline-block;
  text-align: center;
  height: 100vh;
  background: url(assets/images/services/red.jpeg) no-repeat 0 10%;
  background-size: cover;
  width: 100%;
  position: relative;
}

.service-banner-text {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.service-banner-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.select-box {
  width: 750px;
  height: 80px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.select-box-content {
  width: 750px;
  height: 50px;
}

.service-form {
  height: 700px;
  background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
    linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
    linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
    linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
  position: relative;
}

.job-banner {
  height: 250px;
  background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
    linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
    linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
    linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
  position: relative;
}

.service-form-content {
  position: absolute;
  top: 0;
}

.service-form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 1; /* Firefox */
}

.service-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

.service-form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff !important;
}

.service-classes {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.service-focus img {
  height: 200px;
  width: 100%;
}
.service-circle:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 20px 0 0;
  border: 7px solid rgb(160, 124, 124);
  border-radius: 100%;
}
.res-circle {
  width: 42px;
  height: 24px;
  border-radius: 50%;
  background: #f5bb00;
  line-height: 0;
  position: relative;
}

.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

/* service-steps */

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-image: linear-gradient(120deg, #ff8489, #d5adc8);
  opacity: 0.9;
}

.service-step-overlay {
  display: inline-block;
  text-align: center;
  height: 20vh;
  width: 100%;
  background: url(assets/images/services/overlay.jpg) no-repeat;
  background-size: contain;
  position: relative;
  /* box-shadow: inset 3000px 0 0 0 rgba(223, 115, 115, 0.9); */
}

.service-steps {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 300px;
}

.shape {
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 5;
}

.shape1 {
  border-radius: 53% 47% 41% 59% / 60% 68% 32% 40%;
}

.shape2 {
  border-radius: 44% 56% 47% 53% / 74% 60% 40% 26%;
}

.shape3 {
  border-radius: 70% 30% 51% 49% / 54% 66% 34% 46%;
}

/* service form */
.service-list {
  background: #fdf1cd;
}
.service-list li:before {
  content: "✓";
  color: #eb6c85;
  padding: 5px;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 197px solid #fdf1cd;
  position: absolute;
  top: 0;
  left: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 197px solid #fdf1cd;
  position: absolute;
  top: 0;
  left: 0;
}

.triangle {
  position: relative;
}

.no-letter-spacing {
  letter-spacing: -1px !important;
}

.text-align-left {
  text-align: left;
}

/* STRICKY SIDE SECTION */
.handle,
.handle-mobile {
  position: fixed;
  width: 3rem;
  right: 0;
  height: 10rem;
  border-radius: 5px 0 0 5px;
  transition: left 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
}
.handle-mobile {
  display: none;
}
.prompSection.active {
  color: yellow !important;
}
.handle1 {
  background-color: #e81710;
  top: 158px;
}

.handle2 {
  background-color: #fad966;
  top: 318px;
}

.handle3 {
  background-color: #4cb0f0;
  top: 478px;
}

.handle1:after {
  content: "Study Now";
  transform: rotate(-90deg);
  font-weight: 500;
  color: white;
}
.handle2:after {
  content: "Book an Appointment";
  transform: rotate(-90deg);
  font-weight: 500;
  color: white;
}

.handle3:after {
  content: "Ask an Advisor";
  transform: rotate(-90deg);
  font-weight: 500;
  color: white;
}

.home-banner {
  display: inline-block;
  text-align: center;
  height: 600px;
  background: url(assets/images/background/canva-gradient.png) no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
}

/* FAQ SECTION */

.faq-row-wrapper .faq-body .faq-row .row-title {
  padding: 10px;
  font-weight: 400;
}

.faq-row-wrapper .faq-body .faq-row .row-title:hover {
  background-color: #eb6c85;
}

/* HOME BANNER */
.titleBanner {
  position: absolute;
  transform: translate(15%, 200%);
}
.titleBanner h1 {
  font-size: 320% !important;
  font-family: Inter !important;
  padding: 0 !important;
  margin: 0px !important;
  color: #fff !important;
}

.home-hero-banner {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: #1a8cbc;
  position: relative;
  background-image: url("./assets/images/background/Codify-College.png");
  background-size: cover;
  background-position: top;
}

.hero-banner {
  position: absolute;
  top: 15;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* BANNER QUOTE */

.banner-quote {
  position: absolute;
  top: 4%;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4rem;
  height: 100%;
  color: #fff;
  text-align: center;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
}

.quote--container {
  width: 17em;
  border-bottom: 2px dotted #c6d1bf;
  padding-bottom: 0.5rem;
}

.quote--highlight {
  color: #d24335;
}

.quote--author {
  font-family: "Open Sans Condensed";
  font-size: 0.8rem;
  text-align: right;
  font-weight: 300;
}

.typewriter {
  position: absolute;
  top: 50%;

  font-size: 50px;
  font-weight: 300;
  line-height: 4rem;
  height: 100%;
  color: #fff;
  text-align: center;
}

/* Course SIDE Bar in side the assignemnt compoennt */
.courses-side-bar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex !important;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.courses-side-bar-container {
  overflow: hidden;
  width: 100% !important;
}
.course-item {
  display: flex !important;
  justify-content: center;
  align-content: center;
  margin-top: 5px !important;
  border: 1px solid #2e77a8;
  border-radius: 30px !important;
}
.activeCourse {
  background-color: #446275 !important;
  color: #fff;
}
.activeCourse a {
  color: #fff !important;
}
.course-item .image-box {
  width: 100px !important;
  overflow: auto !important;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.course-item:hover {
  -webkit-box-shadow: 2px 2px 10px 6px rgba(76, 74, 2, 0.45);
  box-shadow: 2px 2px 10px 6px rgba(76, 74, 2, 0.45);
  transition: box-shadow 0.4s ease !important;
}
.shadow-pop-tr {
  -webkit-box-shadow: 2px 2px 10px 6px rgba(76, 74, 2, 0.45);
  box-shadow: 2px 2px 10px 6px rgba(76, 74, 2, 0.45);
}
.notFound div {
  background-image: url("assets/images/background/not-found.png");
  background-position: top;
  background-repeat: no-repeat;
  height: 40vh !important;
  background-size: 20% !important;
}
.planButton {
  background-color: hsl(241, 56%, 35%) !important;
}
/*******************************/

@media (max-width: 768px) {
  .notFound div {
    background-size: 40% !important;
  }

  .CircularProgressbar {
    margin-top: 0px;
    width: 22px !important;
  }

  .home-hero-banner {
    background-image: url(assets/images/background/768.png) !important;
    height: 400px !important;
  }
  .titleBanner {
    transform: translate(5%, 170%) !important;
  }
  .titleBanner h1 {
    font-size: 300% !important;
  }
  .quote--container {
    display: none !important;
  }
}
@media (max-width: 615px) {
  .notFound div {
    background-size: 50% !important;
  }
  .titleBanner {
    transform: translate(0%, 150%) !important;
    max-width: 100% !important;
  }
  .titleBanner h1 {
    font-size: 220% !important;
  }
}
@media (max-width: 464px) {
  .home-hero-banner {
    background-image: url(assets/images/background/425.png) !important;
  }
  .titleBanner {
    transform: translate(0%, 40%) !important;
  }
  .titleBanner h1 {
    font-size: 185% !important;
  }

  .handle {
    display: none !important;
  }
  .handle-mobile {
    position: fixed;
    width: 35% !important;

    /* top:113px !important; */
    height: 3rem;
    border-radius: 0px;
    transition: left 0.2s ease;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;
    z-index: 1000;
    text-align: center;
    font-size: 90% !important;
  }

  .activeCourse a {
    margin: 0px !important;
  }
  .course-item .image-box {
    display: none !important;
  }

  .handle2 {
    left: 0px !important;
  }
  .handle3 {
    left: 35% !important;
  }
  .handle1 {
    left: 70% !important;
  }

  .handle1:after,
  .handle2:after,
  .handle3:after {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 600px) {
  #backdrop {
    margin: 0 0 0 -20px !important;
    width: 93vw !important;
    height: 625px !important;
  }
  .promoText {
    width: 100% !important;
  }
  .prompSection {
    top: 0px !important;
  }
  .promoFlex {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
}

/* checkout payment method */
.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .title {
  color: #fff;
  line-height: 65px;
  text-align: center;
  background: #233;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

.wrapper .box {
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}

.wrapper .box label {
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  margin: 10px 0;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4 {
  background: #333;
  border-color: #333;
}

.wrapper .box label .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot,
#option-3:checked ~ .option-3 .dot,
#option-4:checked ~ .option-4 .dot {
  background: #fff;
}

.box label .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-4:checked ~ .option-4 .dot::before {
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.wrapper .box label .text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}

#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text {
  color: #fff;
}

.wrapper .box input[type="radio"] {
  display: none;
}

/* why js list */

.pricing-section main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, #8dd2ce 0%, #229c96 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list > li + li {
  margin-top: 2rem;
}

/* curriculum step bar */

.meter {
  box-sizing: content-box;
  height: 10px; /* Can be anything */
  position: relative;
  margin: 20px 0 20px 0; /* Just for demo spacing */
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#f1a165, #f36d0a);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.digital {
	background: radial-gradient(circle, #80ffc1 0%, #ff6161 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}