body {
  font-size: 16px !important;
  font-weight: 200 !important;
  font-family: Inter !important;
  color: #4a4a4a !important;
}

.login-nav-section {
  height: 10vh;
} /* LOGIN PAGE */

.title {
  font-size: 34px;
  font-weight: 600;
  font-family: Inter;
}

.navbar {
  text-transform: capitalize !important;
  font-size: 16px !important;
}

@media (min-width: 992px) {
  .hide-on-big-screen {
    display: none !important;
    background-color: red !important;
  }
}

@media (max-width: 992px) {
  .hide-on-small-screen {
    display: none !important;
  }
  .text-center-small-screen {
    margin: 0 auto;
    text-align: center;
  }

  .header-bg-small-screen {
    background-color: red !important;
  }
}

#dropdown-button-drop-right {
  color: #4a4a4a !important;
}

.nav-link.dropdown-toggle:after {
  display: none;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: -80px;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.title2 {
  font-size: 32px;
  font-weight: 200;
  font-family: Inter;
  margin-top: 20px;
  color: #4a4a4a !important;
}
.sub-title {
  font-size: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #4a4a4a !important;
}
.sub-text {
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0;
  font-family: Inter;
  line-height: 32px;
  white-space: pre-wrap;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f2334c;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin: auto;
  max-width: 90%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.course-content a:hover {
  background-color: #ffbfbe;
}

.sub-text-bold {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  font-family: Inter;
}

.phone-text {
  color: #23bbbb;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  font-family: Inter;
}
.contact-text {
  color: #ffffff;
  transition: transform 1s;
}
.contact-text:hover {
  transform: scale(1.1);
}

.fa-online-education {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #888;
  padding: 0.8em;
  font-size: 30px;
}

.block-seperator {
  width: 10%;
  height: 2px;
  background-color: #e84d1b;
  margin: 0 auto;
}

.star-ratings-sprite {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png')
    repeat-x;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png')
    repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

/* responsive rodal */

.rodal,
.rodal-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed !important;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rodal-dialog {
  display: flex;
  margin: auto;
  height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 1.25em;
  border-radius: 0.3125em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative !important;
  width: 32em;
  max-width: 100%;
}

/* klarna button */

.klarna {
  display: block;
  width: 100%;
  background-color: black;
  padding: 15px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.klarna :focus {
  outline: none;
}

.klarna[disabled] {
  outline: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
